/*鎵嬫満绔奖钘忓尯鍧�*/
@media screen and (max-width: 800px) {
    #aside_content {
        display: none;
        font-size: 13px;
    }
}
.wv-lt-refresh {
    display: none;
}
/*浣滃垯鎸夐挳闂撮殧璋冩暣*/
#rightside>div>a, #rightside>div>button {
    margin-bottom: 8px;
}
/*鏈嬪弸鍦堢編鍖�*/
button.load_button {
    padding: 1.2em 2em;
    text-decoration: none;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
135deg
, #6e8efb, #a777e3);
    position: relative;
    color: white;
    transition: transform .2s ease;
    font-weight: bold;
    letter-spacing: .01em;
    will-change: transform;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(800px);
    border-radius: 12px;
}
div#info_user_poor {
    padding: .9rem 1.4rem;
    overflow: hidden;
    position: relative;
    padding: .5rem .8rem;
    background-color: rgb(239 241 243);
    border-radius: 12px!important;
}
.article-sort-item {
    padding: .9rem 1.4rem;
    overflow: hidden;
    position: relative;
    padding: .5rem .8rem;
    background-color: rgb(239 241 243);
    border-radius: 12px!important;
}
/*鏈嬪弸鍦堢編鍖�*/
#newsmodal {
    border-radius: 15px;
}
/*twikoo椤佃剼褰辫棌*/
.tk-footer {
    display: none;
}
/*pwa鏇存柊鎻愮ず褰辫棌*/
#app-refresh  {
    display: none;
}
/*鐗堟潈浼樺寲*/
#post .post-copyright {
    background: #ffffff;
    padding: .9rem 1.4rem;
    overflow: hidden;
    position: relative;
    padding: .5rem .8rem;
    background-color: rgb(239 241 243);
    border-radius: 12px!important;
}
#article-container img {
    border-radius: 12px;
    margin: 0 auto 1.5rem;
}
.article-sort-item-img {
    border-radius: 12px;
}
/*鏈€鏂版枃绔燾over鍦嗚*/
#rightside div button, a {
    border-radius: 15px;
}
/*涓婁笅绡囨枃绔犲渾瑙�*/
.menus_item_child {
    border-radius: 12px;
}
.wv-lt-location>a[data-v-4b9dcab4] {
      text-decoration: none;
}
.recent-post-item.wow.animate__backInUp>p {
    margin: auto;
}
.wv-lt-location>a {
    background: #3498db;
    width: 80px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}
/*涓汉淇℃伅鎸夐挳鍦嗚*/
.button--animated {
    padding: 1.2em 2em;
    text-decoration: none;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
    position: relative;
    transition: transform .2s ease;
    font-weight: bold;
    letter-spacing: .01em;
    will-change: transform;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(800px);
    border-radius: 12px;
}
/*涓汉淇℃伅鎸夐挳鍦嗚婧㈠嚭*/
#aside_content .card-info #card-info-btn {
      overflow: hidden;
}
/*twikoo澶村儚鍦嗚*/
.tk-avatar-img {
    border-radius: 12px;
}
/*鏃堕棿杞村浘鐗囧渾瑙�*/
.list-h {
    border-radius: 12px;
}
/*涓汉淇℃伅鎸夐挳鍦嗚*/
.post-reward .reward-button {
    border-radius: 12px;
}
/*宸︿晶鎸夐挳鍦嗚*/
#rightside>div>a, #rightside>div>button {
    border-radius: 12px;
}
/*鎼滅储椤靛渾瑙�*/
#local-search .search-dialog {
    border-radius: 12px;
}
/*twikoo绔欑偣鍚嶇О鏍囩孩*/
.tk-main .tk-nick.tk-nick-link {
    color: #ff786e !important;
}
/*twikooUA*/
.tk-extra[data-v-d82ce9a0] {
    padding: .2em .5em;
    border-radius: .2em;
    background: #ededed;
    margin-top: 0.5rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
}
.tk-submit[data-v-619b4c52] {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #9a9a9a;
    border-radius: 8px;
    padding: 10px 10px 0;
    margin-bottom: 20px;
}
.tk-comment[data-v-d82ce9a0] {
    box-shadow: 2px 2px 5px #9a9a9a;
    border-radius: 8px;
    padding: 15px;
    margin-top: 1rem;
}
.tk-comment[data-v-d82ce9a0] {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    word-break: break-all;
}
#twikoo .tk-comment .tk-replies .tk-comment {
    box-shadow: none;
}
.tk-replies {
    margin-left: -85px;
}
/*鎺ㄨ崘鏂囩珷鍏冧欢*/
.post-copyright-info{color:#07070a}
#pagination.pagination-post{border-radius: 15px}
#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(1){border-radius: 15px}
#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(2){border-radius: 15px}
#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(3){border-radius: 15px}
#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(4){border-radius: 15px}
#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(5){border-radius: 15px}
#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(6){border-radius: 15px}
#recent-posts > .recent-post-item .post_cover {
    box-shadow: 0 4px 8px 6px rgb(7 17 27 / 6%);
}
/* 涓婚〉鍝斿摂bb */
#bber-talk {
  width: 100%;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
}

#bber-talk #con1, #bber-talk #con2{
  min-height: 25px;
  width: 100%;
}

.li-style {
  width: 100%;
  height: 25px;
  text-align: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.li-style:hover{
  color: #8a8988;
}

ul,li{
  list-style:none;
  display:block;
  margin: 0;
  padding: 0;
}

#bbTimeList{
    background: white;
    color: #8a8988;
    padding: 0.6rem 1rem 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: #8a8988;
    display: flex;
}

/* 鍝斿摂鍓嶅線 */
.bber-gotobb{
  line-height: 25px;
  margin-left: 8px;
  transition: 0.3s;
}

.bber-gotobb:hover{
  color: var(--heo-hovertext);
  transition: 0.3s;
}

/* 鍝斿摂鏍囧織 */
.icon-bblogo{
  font-size: 2rem;
  font-size: 2rem;
  line-height: 22px;
  margin-right: 8px;
  transition: 0.3s;
}

.icon-bblogo:hover{
  color: var(--heo-hovertext);
  transition: 0.3s;
}
/* bb鍝斿摂 */
/* bb鏍峰紡 */

.timeline ul li{
  position: relative;
  padding-left: 2.5rem;
}

/* 鏍囬 */
.bb-info{
  display: inline;
  float: right;
  line-height: 3.7rem;
  color: var(--heo-secondtext);
}

/* 姣忔潯鍔ㄦ€� */
#bber > section > ul > div > li > div{
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  background: rgb(239 241 243);;
  box-shadow: var(--heo-shadow-lightblack);
  border-radius: 12px;
  padding: 8px 16px;
  margin-top: 12px;
}

#bber p{
  margin: 0;
}

#bber .datafrom i{
  margin-right: 4px;
}

/* 鏃堕棿 */
#bber > section > ul > div > li > div .datatime{
  order: 1;
  color: var(--heo-secondtext);
  font-size: 0.6rem;
}

/* 鍐呭 */
#bber > section > ul > div > li > div .datacont{
  order: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fe5f55;
  width: 100%;
  line-height: 1.38;
  margin: 8px 0;
}

/* 璁惧 */
#bber > section > ul > div > li > div .datafrom{
  order: 2;
  color: var(--heo-secondtext);
  font-size: 0.6rem!important;
  margin-left: 8px;
}
#bber > section > ul > div > li > div .datafrom small{
  font-size: 100%;
}

/* 鏃堕棿绾� */
.timeline ul li::before {
  position: absolute;
  top: 0.5rem;
  left: 0rem;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  background: var(--card-bg);
  content: "";
  background-image: url(https://cdn-1.nesxc.com/img/avatar.webp);
  background-size: 2rem;
}

/* 鍔犺浇鏇村 */
.load-btn.button-load{
  background: var(--heo-card-btn-bg);
  color: var(--heo-fontcolor);
  padding: 12px 12px;
  margin: 8px 0;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  transition: 0.3s;
  font-weight: bold;
}

.load-btn.button-load:hover{
  background: var(#fe5f55);
  color: var(--heo-white);
  transition: 0.3s;
  box-shadow: var(--heo-shadow-blue);
}