.tk-comment {
    box-shadow: 2px 2px 5px #9a9a9a;
    border-radius: 8px;
    padding: 15px;
}
.tk-extra {
    padding: .2em .5em;
    border-radius: .2em;
    background: #ededed;
}
#twikoo .tk-comment .tk-replies .tk-comment {
    box-shadow: none;
}
.tk-replies {
    margin-left: -85px;
}
